@import url('@/shared/styles/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --strokes-primary: #d4d4d4;
  --strokes-secondary: #e6e6e6;

  --background-primary: #ffffff;
  --background-secondary: #f3f3f3;

  --text-primary: #000000;
  --text-secondary: #838383;
  --text-disabled: #838383;

  --button-color-disabled: #d4d4d4;

  --input-outline-color: #d4d4d4;
  --input-outline-focus-color: #000000;
}

body {
  font-family: 'Inter', 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--strokes-secondary);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--strokes-primary);
  cursor: ns-resize;
}
