.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary);
  align-items: center;
}

@media screen and (max-width: 600px) {
  .mainContent {
    background-color: var(--background-primary);
    align-items: flex-start;
  }
}
